.navbar {
  width: 100%;
  background: #333;

  ul {
    display: flex;
    justify-content: center;

    li {
      font-size: 24px;
      color: #fff;
      width: 25%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        cursor: pointer;
      }
    }
  }
}
